{# AppBundle/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" http-equiv="Content-Type" content="" charset=utf-8"/>
    <title>{% block title %}Emosys{% endblock %}</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>#}

    {#animations#}
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/animsition.min.css') }}"/>
    <script src="{{ asset('bundles/framework/js/animsition.min.js') }}"></script>

    <script src="{{ asset('bundles/framework/js/notify.js') }}"></script>

    <!-- Latest compiled JavaScript -->
    {#Dropdowns dont work because of this#}
    {#<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>#}


    {#Custom dropdown#}
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/bootstrapNavbarStyle.css') }}"/>

    {#Foter style#}
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/footerStyle.css') }}"/>

    <link rel="shortcut icon" href="{{ asset('bundles/framework/images/icon.png') }}">

    {#custom css#}
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/customStyle.css') }}"/>
    <style type="text/css">


    </style>
    {% block otherstylesheets %}{% endblock %}
</head>
<body>
{% block nevigationbar %}
    {#<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">#}
    <nav class="navbar navbar-inverse" role="navigation">
        <div >
            <div class="navbar-header">

                <!--collapsing navbar buttons-->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>

                <div class="active">
                    <a class="navbar-brand " href="{{ path('homepage') }}">EMOsys</a>
                </div>

            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav"  >

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="true">Locations<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('location') }}">Map</a></li>
                            <li><a href="{{ path('addLocations') }}">Add Location</a></li>
                            <li><a href="{{ path('areaView') }}">Areas</a></li>
                        </ul>
                    </li>

                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECH') or is_granted('ROLE_MNGR') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="true">Sensors<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('sensor_list') }}">Sensor Installed </a></li>
                            <li><a href="{{ path('find_sensor') }}">Find Sensor</a></li>
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECH') %}
                            <li><a href="{{ path('add_sensor') }}">Add Sensor </a></li>
                            <li><hr class="navhr"></li>
                            <li><a href="{{ path('add_model') }}">Add Model </a></li>
                            <li><a href="{{ path('model_list') }}">Sensor Models </a></li>
                            <li><hr class="navhr"></li>
                            <li><a href="{{ path('type_list') }}">Sensor Types </a></li>
                            <li><hr class="navhr"></li>
                            <li><a href="{{ path('sensor_error_list') }}">Sensor Error Report </a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}

                    {#u can enter the link here  like  <li><a href="{{ path('about') }}"> About</a></li> #}
                    {#<li class="dropdown">#}
                    {#<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
                    {#aria-expanded="true">Reports<span class="caret"></span></a>#}
                    {#<ul class="dropdown-menu">#}
                    {#<li><a href="{{ path('reportAreas') }}">Areas</a></li>#}
                    {#<li><a href="{{ path('reportSummery') }}">Summery</a></li>#}
                    {#</ul>#}
                    {#</li>#}
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MNGR') %}
                    <li><a href="{{ path('reportAreas') }}">Reports</a></li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="true">Employee<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('addEmployee') }}">Add</a></li>
                            <li><a href="{{ path('listEmployees') }}">Update</a></li>
                            <li><hr class="navhr"></li>
                            <li><a href="{{ path('loginList') }}">Login List</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <li><a href="{{ path('about') }}"> About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('register') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    {% endif %}
                    <li class="dropdown">
                        {% set user = app.user %}
                        {% if (user != null) %}
                        <a href="#" class="dropdown-toggle glyphicon glyphicon-log-in"
                           data-toggle="dropdown"> {{ user.username }}<b
                                    class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('profile') }}">Profile</a></li>
                            <li><a href="{{ path('logout') }}"> Log Out</a></li>
                        </ul>
                        {% else %}
                    <li><a href="{{ path('login_route') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

<div id="content" >
    <div class="animsition margin">
        {% block body %}

        {% endblock %}
    </div>
    {% block footer %}
        <footer class="footer">
            <div class="container" align="center">
                Copyright &copy; 2016 Quadro. All rights reserved.
            </div>
        </footer>
    {% endblock %}
    {% block script %}
        <script src="https:////netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function() {
                $(".animsition").animsition({
                    inClass: 'fade-in',
                    outClass: 'fade-out',
                    inDuration: 1500,
                    outDuration: 800,
                    linkElement: '.animsition-link',
                    // e.g. linkElement: 'a:not([target="_blank"]):not([href^=#])'
                    loading: true,
                    loadingParentElement: 'body', //animsition wrapper element
                    loadingClass: 'animsition-loading',
                    loadingInner: '', // e.g '<img src="loading.svg" />'
                    timeout: false,
                    timeoutCountdown: 5000,
                    onLoadEvent: true,
                    browser: [ 'animation-duration', '-webkit-animation-duration'],
                    // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
                    // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
                    overlay : false,
                    overlayClass : 'animsition-overlay-slide',
                    overlayParentElement : 'body',
                    transition: function(url){ window.location.href = url; }
                });
            });
        </script>
    {% endblock %}

    {% block customScript %}
    {% endblock %}
</div>

</body>
</html>