{# AppBundle/Resources/views/location/areas.html.twig #}
{% extends 'AppBundle::base.html.twig' %}
 {% block otherstylesheets %}
     {#Sidebar style#}

     <link rel="stylesheet" href="{{ asset('bundles/framework/css/locationAreas.css') }}"/>
     <link rel="stylesheet" href="{{ asset('bundles/framework/css/sensorList.css') }}"/>
 {% endblock %}

{% block body %}
    <div class="container">
        <div align="center">
            <h1>Administrative Districts</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-md-3" id="nameColumn" style="border-top: 1px solid #337ab7; border-bottom: 1px solid #337ab7;">
            <div class="row height100" style="color: #337ab7" >
                <ul class="list-unstyled height100" >
                    {% for area in areas %}
                        {% if area.name|trim is not empty %}
                            <li><h3><a  href="{{ path('locationAreaView', {'viewArea':  area.name}) }}"
                                    >&nbsp;{{ area.areacode }}&nbsp;&nbsp;&nbsp;{{ area.name }}
                                    </a>
                                </h3>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-9" id="mapColumn">
            <div id="mapContainer">
                <div id="map">
                    <script>
                        var map;
                        function initMap() {
                            map = new google.maps.Map(document.getElementById('map'), {
                                center: {lat: 6.93, lng: 79.86},
                                zoom: 13
                            });

                            {% for district in districts %}
                            var $title = {{ district['name']|json_encode|raw }};
                            var $long = {{ district['center_longitude']|json_encode|raw }};
                            var $lati = {{ district['center_latitude']|json_encode|raw }};
                            var marker = new google.maps.Marker({
                                position: {lat: parseFloat($lati), lng: parseFloat($long)},
                                url: '{{ path('locationAreaView', {'viewArea':  district.name}) }}',
                                map: map,
                                title: $title
                            });
                            google.maps.event.addListener(marker, 'click', function() {
                                window.location.href = this.url;
                            });
                            {% endfor %}
                        }
                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtfolL32-vwpZgGcIkYMFA5Ajy2svBwbM&callback=initMap"
                            async defer></script>
                </div>
            </div>
            <div class="row" style="margin-left: 1px">
                <p style="background-color: #5eb5e0">*Click on the Markers to View Locations</p>
            </div>
        </div>
    </div>
    {% if (js is defined) %}{{ js|raw }}{% endif %}
{% endblock %}