{# AppBundle/Resources/views/location/areaView.html.twig #}
{% extends 'AppBundle::base.html.twig' %}
 {% block otherstylesheets %}
     {#Sidebar style#}
     <link rel="stylesheet" href="{{ asset('bundles/framework/css/reportAreaSideBarStyle.css') }}"/>
 {% endblock %}

{% block body %}
    <div class="container">
        <div id="header">
            <h3>Locations</h3>
            <hr>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Address</th>
                        <th>Longitude</th>
                        <th>Latitude</th>
                    </tr>
                </thead>
                {% for loc in locations %}
                    <tbody>
                        <tr>
                            <td>{{ loc.getAddress }}</td>
                            <td>{{ loc.getLongitude }}</td>
                            <td>{{ loc.getLatitude }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>

        <div>
            <div id="map" style=" height: 400px;width: 600px;">
                <script>
                    var map;
                    function initMap() {
                        map = new google.maps.Map(document.getElementById('map'), {
                            center: {lat: {{ area_latitude }}, lng: {{ area_longitude }}},
                            zoom: 12
                        });

                        {% for loc in locations %}
                        var $title = {{ loc.getAddress()|json_encode|raw }};
                        var $long = {{ loc.getLongitude()|json_encode|raw }};
                        var $lati = {{ loc.getLatitude()|json_encode|raw }};
                        var marker = new google.maps.Marker({
                            position: {lat: parseFloat($lati), lng: parseFloat($long)},
                            map: map,
                            title: $title
                        });
                        {% endfor %}
                    }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtfolL32-vwpZgGcIkYMFA5Ajy2svBwbM&callback=initMap"
                        async defer></script>
            </div>
        </div>

    </div>

{% endblock %}