{# AppBundle/Resources/views/location/areaView.html.twig #}
{% extends 'AppBundle::base.html.twig' %}
{% block otherstylesheets %}
    {#Sidebar style#}
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/reportAreaSideBarStyle.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/sensorList.css') }}"/>
    <script src="{{ asset('bundles/framework/js/confirmationPopUp.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/dialog.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/locationAreaView.css') }}"/>
    <style>
        #info {
            background-color: #5eb5e0;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="dialogoverlay"></div>
    <div id="dialogbox">
        <div>
            <div id="dialogboxhead"></div>
            <div id="dialogboxbody"></div>
            <div id="dialogboxfoot"></div>
        </div>
    </div>


    {% for msg in app.session.flashbag.get('msg') %}

            <script type="text/javascript">
                Alert.render('{{ msg }}', '{{ app.session.flashbag.get('title').0 }}' );
            </script>
    {% endfor %}

    <div class="container-fluid">
        <div id="header">
            <h3>{{ areaView }}</h3>
            <hr>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div id="tableContainer">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-md-6">Address</th>
                            <th class="col-md-2">Longitude(°)</th>
                            <th class="col-md-2">Latitude(°)</th>
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECH') %}
                            <th class="col-md-2"></th>
                            {% endif %}
                        </tr>
                        </thead>
                        {% for loc in locations %}
                            <tr>
                                <td class="col-md-6"><a href="{{ path('reportLocationView', {'viewArea': areaView,'viewLocation': loc.getAddress()}) }}"> {{ loc.getAddress() }} </a></td>
                                <td class="col-md-2">{{ loc.getLongitude }}</td>
                                <td class="col-md-2">{{ loc.getLatitude }}</td>

                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECH') %}
                                <td class="col-md-2">
                                    <button type="button" class="btn glyphicon glyphicon-pencil" title="Change Location Information"
                                            onclick="location.href='{{ path('changeLocationView', {'viewArea': areaView,'viewLocation': loc.getId()}) }}'"></button>
                                    <button type="button" class="btn glyphicon glyphicon-remove" title="Delete Location"
                                            onclick="Confirm.render(
                                                    'Are you sure to remove location : {{loc.getAddress}}',
                                                    'delete_row',
                                                    '{{ path('deleteLocationView', {'viewArea': areaView,'viewLocation': loc.getId()}) }}')"></button>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="row">
                        <p id="info" style="margin-top: -10px">*Click on the Locations to View Sensors</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" id="mapColumn" style="margin-left: 20px">
            <script>
                var map;
                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: {{ area_latitude }}, lng: {{ area_longitude }}},
                        zoom: 12
                    });

                    {% for loc in locations %}
                    var $title = {{ loc.getAddress()|json_encode|raw }};
                    var $long = {{ loc.getLongitude()|json_encode|raw }};
                    var $lati = {{ loc.getLatitude()|json_encode|raw }};
                    var marker = new google.maps.Marker({
                        position: {lat: parseFloat($lati), lng: parseFloat($long)},
                        url: '{{ path('reportLocationView', {'viewArea': areaView,'viewLocation': loc.getAddress()}) }}',
                        map: map,
                        title: $title
                    });
                    google.maps.event.addListener(marker, 'click', function() {
                        window.location.href = this.url;  //changed from markers[i] to this
                    });
                    {% endfor %}
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtfolL32-vwpZgGcIkYMFA5Ajy2svBwbM&callback=initMap"
                    async defer></script>
            <div class="row" style="margin-top: 406px">
                <p id="info">*Click on the Markers to View Sensors</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECH') %}
            <a href="{{ path('addLocationView', {'viewArea': areaView}) }}">
                <span class="glyphicon glyphicon-new-window"></span> Add New Location
            </a>
            {% endif %}
        </div>

    </div>
{% endblock %}