{# AppBundle/Resources/views/security/login.html.twig #}
{% extends 'AppBundle::base.html.twig' %}

{% block otherstylesheets %}

    <link rel="stylesheet" href="{{ asset('bundles/framework/css/addFormFixedStyle.css') }}"/>

{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% form_theme form 'AppBundle:Form:bootstrap_3_layout.html.twig' %}

{# To remove the nevigation bar on login page #}
{# {% block nevigationbar %} {% endblock %} #}

{% block body %}
    <h1 align="center">Register</h1>

    <dev>
        <div class="container" align="center">
            <div class="container formContainer" align="left">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </dev>
{% endblock body %}

{#{% block body %}#}
    {#<h1 align="center">Add Employee</h1>#}
    {#<dev>#}
        {#<div class="container" align="center">#}
            {#<div class="container formContainer">#}
                {#<table class="tableWidth">#}
                    {#{{ form_start(form) }}#}
                    {#<tr>#}
                        {#<td>#}
                            {#{{ form_label(form.employee_id) }}#}
                        {#</td>#}
                        {#<td>#}
                            {#<row>#}
                                {#{{ form_widget(form.employee_id) }}#}
                            {#</row>#}
                            {#<row>#}
                                {#{{ form_errors(form.employee_id) }}#}
                            {#</row>#}
                        {#</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>#}
                            {#{{ form_label(form.first_name) }}#}
                        {#</td>#}
                        {#<td>#}
                            {#<row>#}
                                {#{{ form_widget(form.first_name) }}#}
                            {#</row>#}
                            {#<row>#}
                                {#{{ form_errors(form.first_name) }}#}
                            {#</row>#}
                        {#</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>#}
                            {#{{ form_label(form.last_name) }}#}
                        {#</td>#}
                        {#<td>#}
                            {#<row>#}
                                {#{{ form_widget(form.last_name) }}#}
                            {#</row>#}
                            {#<row>#}
                                {#{{ form_errors(form.last_name) }}#}
                            {#</row>#}
                        {#</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>#}
                            {#{{ form_label(form.NIC) }}#}
                        {#</td>#}
                        {#<td>#}
                            {#<row>#}
                                {#{{ form_widget(form.NIC) }}#}
                            {#</row>#}
                            {#<row>#}
                                {#{{ form_errors(form.NIC) }}#}
                            {#</row>#}
                        {#</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>#}
                            {#{{ form_label(form.tel_no) }}#}
                        {#</td>#}
                        {#<td>#}
                            {#<row>#}
                                {#{{ form_widget(form.tel_no) }}#}
                            {#</row>#}
                            {#<row>#}
                                {#{{ form_errors(form.tel_no) }}#}
                            {#</row>#}
                        {#</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>#}

                        {#</td>#}
                        {#<td align="right">#}
                            {#{{ form_widget(form.submit) }}#}
                        {#</td>#}
                    {#</tr>#}
                    {#{{ form_end(form) }}#}
                {#</table>#}
            {#</div>#}
        {#</div>#}
    {#</dev>#}
{#{% endblock body %}#}