{# AppBundle/Resources/views/security/login.html.twig #}
{% extends 'AppBundle::base.html.twig' %}

{% block otherstylesheets %}

    <link rel="stylesheet" href="{{ asset('bundles/framework/css/addFormFixedStyle.css') }}"/>
    <script src="{{ asset('bundles/framework/js/confirmationPopUp.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/dialog.css') }}"/>
{% endblock %}

{% block stylesheets %}
{% endblock stylesheets %}

{% form_theme form 'AppBundle:Form:bootstrap_3_layout.html.twig' %}

{# To remove the nevigation bar on login page #}
{# {% block nevigationbar %} {% endblock %} #}

{% block body %}
    <div id="dialogoverlay"></div>
    <div id="dialogbox">
        <div>
            <div id="dialogboxhead"></div>
            <div id="dialogboxbody"></div>
            <div id="dialogboxfoot"></div>
        </div>
    </div>


    {% for msg in app.session.flashbag.get('msg') %}

        <script type="text/javascript">
            Alert.render('{{ msg }}', '{{ app.session.flashbag.get('title').0 }}');
        </script>
    {% endfor %}

    <h1 align="center">Update Employee Data</h1>
    <dev>
        <div class="container" align="center">
            <div class="container formContainer" align="left">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </dev>
{% endblock body %}