{% extends 'AppBundle::base.html.twig' %}


{% block otherstylesheets %}
    <script src="{{ asset('bundles/framework/js/sorttable.js') }}"></script>
    <script src="{{ asset('bundles/framework/js/tableSearch.js') }}"></script>
    <script src="{{ asset('bundles/framework/js/confirmationPopUp.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('bundles/framework/css/sensorList.css') }}"/>

{% endblock %}



{% block body %}

    {% for msg in app.session.flashbag.get('msg') %}
        <script type="text/javascript">
            infoPopUp('{{ msg }}')
        </script>
    {% endfor %}


    <h1 align="center">
        Sensor Models
    </h1>
    <div class="container">
        <div class="row" id= "searchContainer">
            <label for="search">
                <strong>Enter keyword to search </strong>
            </label>
            <input type="text" id="search">
            <label>e.g.  S12, P.O. Box 271, 2016</label>
        </div>

        <div class="row">
            <div id="tableContainer">
                <table class="table sortable" id="tblData">
                    <tr class="customHeader">
                        <th class="col-md-1 sorttable_sorted">No<span id="sorttable_sortfwdind">&nbsp;▾</span></th>
                        <th class="col-md-3">Model ID</th>
                        <th class="col-md-4">Manufacturer</th>
                        <th class="col-md-2">Basic Unit</th>
                        <th class="col-md-3">Detection Range</th>

                    </tr>
                    {% for m in models  %}
                        <tr>
                            {% if m.modelId|trim is not empty %}
                                <td class="col-md-1">{{ loop.index-1 }}</td>
                                <td class="col-md-3">{{ m.modelId }}</td>

                                {% if m.manufacture|trim is not empty %}
                                    <td class="col-md-4">{{ m.manufacture }}</td>
                                {% else %}
                                    <td >Not Set</td>
                                {% endif %}

                                {% if m.unit|trim is not empty %}
                                    <td class="col-md-2">{{ m.unit }}</td>
                                {% else %}
                                    <td >Not Set</td>
                                {% endif %}

                                {% if m.getDetRange|trim is not empty %}
                                    <td class="col-md-3"> {{ m.getDetRange }}
                                        <button
                                                onclick="confirmation('Are you sure to remove model : {{ m.getModelId}} ','{{ path('remove_model') }}?id={{ m.getModelId}}')"
                                                class="btn glyphicon glyphicon-remove pull-right" >
                                        </button>

                                        <button
                                                class="btn glyphicon glyphicon-pencil pull-right"
                                                onclick="document.location = '{{ path('edit_model') }}?id={{ m.getModelId}}'"
                                                style="border-right:5px solid #F2F2F2"
                                                 >
                                        </button>
                                    </td>
                                {% else %}
                                    <td >
                                        Not Set
                                        <button
                                                onclick="document.location = '{{ path('edit_model') }}?id={{ m.getModelId}}'"
                                                class="btn glyphicon glyphicon-pencil pull-right" >
                                        </button>
                                    </td>
                                {% endif %}


                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>

        </div>

        <div class="row">
            <p>*Please Click the table column header to sort by.</p>
        </div>
    </div>



{% endblock %}