{% extends 'AppBundle::base.html.twig' %}

{% block otherstylesheets %}
    <script src="{{ asset('bundles/framework/js/sorttable.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('bundles/framework/css/sensorList.css') }}"/>

{% endblock %}


{% block body %}

    <h1 align="center">
        Sensor
    </h1>
    <div class="container">
        <div class="row">

            *Please Click the table column header to sort by.
            <hr>

        </div>

        <div class="container" id="tableContainer">
            <table class="table table-striped sortable">
                <tr class="customHeader">
                    <th class="col-md-1 sorttable_sorted">No<span id="sorttable_sortfwdind">&nbsp;▾</span></th>
                    <th class="col-md-2">Sensor ID</th>
                    <th class="col-md-2">Sensor Type</th>
                    <th class="col-md-2">Sensor Model</th>
                    <th class="col-md-3">Sensor Location</th>
                    <th class="col-md-2">Installed Date</th>

                </tr>

                {% for sensor in sensors  %}
                    <tr>
                        {% if sensor.getSensorId|trim is not empty %}
                            <td class="col-md-1">{{ loop.index-1 }}</td>
                            <td class="col-md-2"><a href="{{ path('viewSensor') }}?id={{ sensor.getSensorId}}">{{ sensor.getSensorId }}</a></td>

                            {% if sensor.getTypeName|trim is not empty %}

                                <td class="col-md-2">{{ sensor.getTypename }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}

                            {% if sensor.getModelId|trim is not empty %}
                                <td class="col-md-2">{{ sensor.getModelId }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}

                            {% if sensor.getLocId|trim is not empty %}
                                <td class="col-md-3"> {{ sensor.getLocAddress }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}

                            {% if sensor.getInsDate|trim is not empty %}
                                <td class="col-md-2">{{ sensor.getInsDate }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}


                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>



{% endblock %}