{% extends 'AppBundle::base.html.twig' %}

{% block otherstylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/sensorView.css') }}"/>

{% endblock %}

{% block body %}

    {% if sensor.getSensorId|trim is not empty %}
        <div>
            <div class="container">
                <h3>
                    Sensor : {{sensor.getSensorId}}
                </h3>
                <hr>
            </div>
            <div class="container">

                <div class="row tableScrollable">
                    <table class="table table-striped" >
                        <tr>
                            <th>
                                General Details
                            </th>
                            <th></th>
                        </tr>

                        <tr>
                            <td>Sensor Type</td>
                            {% if sensor.getTypeName|trim is not empty %}
                                <td>{{sensor.getTypeName }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>

                        <tr>
                            <td>Installation Date</td>
                            {% if sensor.getInsDate|trim is not empty %}
                                <td>{{sensor.getInsDate }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Threshold Max</td>
                            {% if sensor.getTMax|trim is not empty %}
                                <td>{{sensor.getTMax }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Threshold Min</td>
                            {% if sensor.getTMin|trim is not empty %}
                                <td>{{sensor.getTMin }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>

                        <tr>
                            <th>
                                Sensor Model Details
                            </th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Model ID</td>
                            {% if sensor.getModelId.getModelId|trim is not empty %}
                                <td>{{ sensor.getModelId.getModelId }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Manufacture</td>
                            {% if sensor.getModelId.getManufacture|trim is not empty %}
                                <td>{{ sensor.getModelId.getManufacture }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Detection Range</td>
                            {% if sensor.getModelId.getDetRange|trim is not empty %}
                                <td>{{ sensor.getModelId.getDetRange }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Primary Measuring Unit</td>
                            {% if sensor.getModelId.getUnit|trim is not empty %}
                                <td>{{ sensor.getModelId.getUnit }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>
                                Sensor Location Details
                            </th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Location ID</td>
                            {% if sensor.getLocId.getLocId|trim is not empty %}
                                <td>{{ sensor.getLocId.getLocId }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Location Address</td>
                            {% if sensor.getLocId.getAddress|trim is not empty %}
                                <td>{{ sensor.getLocId.getAddress }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Sensor Coordinates</td>
                            {% if ((sensor.getLocId.getLongitude|trim is not empty) and (sensor.getLocId.getLatitude|trim is not empty) ) %}
                                <td>{{ sensor.getLocId.getLongitude }} , {{ sensor.getLocId.getLatitude }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>
                    </table>
                </div>


                <div class="container">
                    <a href="{{ path('reportSensorReadings') }}?id={{sensor.getSensorId}}">
                        View Readings
                    </a>
                </div>

            </div>
        </div>
    {% else %}
       <div>
           Error : sensor not found
       </div>
    {% endif %}





{% endblock %}