{% extends 'AppBundle::base.html.twig' %}

{% block otherstylesheets %}

    <script src="{{ asset('bundles/framework/js/confirmationPopUp.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('bundles/framework/css/sensorView.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/dialog.css') }}"/>



{% endblock %}

{% block body %}

    <div id="dialogoverlay"></div>
    <div id="dialogbox">
        <div>
            <div id="dialogboxhead"></div>
            <div id="dialogboxbody"></div>
            <div id="dialogboxfoot"></div>
        </div>
    </div>


    {#{% for msg in app.session.flashbag.get('msg') %}#}
        {#<script type="text/javascript">#}
            {#Alert.render('{{ msg }}');#}
        {#</script>#}
    {#{% endfor %}#}

    {% if sensor.getSensorId|trim is not empty %}
        <div>
            <div class="container">
                <h1>
                    Sensor : {{sensor.getSensorId}}
                </h1>
                <hr>
            </div>
            <div class="container">

                <div class="row tableScrollable">
                    <table class="table table-striped" >
                        <tr>
                            <th>
                                General Details
                            </th>
                            <th></th>
                        </tr>

                        <tr>
                            <td>Sensor Type</td>
                            {% if sensor.getTypeName|trim is not empty %}
                                <td>{{sensor.getTypeName }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>

                        <tr>
                            <td>Installation Date</td>
                            {% if sensor.getInsDate|trim is not empty %}
                                <td>{{sensor.getInsDate }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Threshold Max</td>
                            {% if sensor.getTMax|trim is not empty %}
                                {% if sensor.getModelId.getUnit == "percent" %}
                                    <td>{{sensor.getTMax }}%</td>
                                {% else%}
                                    <td>{{sensor.getTMax }}{{ sensor.getModelId.getUnit }}</td>
                                {% endif %}
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Threshold Min</td>
                            {% if sensor.getTMin|trim is not empty %}
                                {% if sensor.getModelId.getUnit == "percent" %}
                                    <td>{{sensor.getTMin }}%</td>
                                {% else%}
                                    <td>{{sensor.getTMin }}{{ sensor.getModelId.getUnit }}</td>
                                {% endif %}
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>

                        <tr>
                            <th>
                                Sensor Model Details
                            </th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Model ID</td>
                            {% if sensor.getModelId.getModelId|trim is not empty %}
                                <td>{{ sensor.getModelId.getModelId }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Manufacture</td>
                            {% if sensor.getModelId.getManufacture|trim is not empty %}
                                <td>{{ sensor.getModelId.getManufacture }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Detection Range</td>
                            {% if sensor.getModelId.getDetRange|trim is not empty %}
                                <td>{{ sensor.getModelId.getDetRange }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Primary Measuring Unit</td>
                            {% if sensor.getModelId.getUnit|trim is not empty %}
                                <td>{{ sensor.getModelId.getUnit }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>
                                Sensor Location Details
                            </th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Location ID</td>
                            {% if sensor.getLocId.getId|trim is not empty %}
                                <td>{{ sensor.getLocId.getId }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Location Address</td>
                            {% if sensor.getLocId.getAddress|trim is not empty %}
                                <td>{{ sensor.getLocId.getAddress }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Sensor Coordinates</td>
                            {% if ((sensor.getLocId.getLongitude|trim is not empty) and (sensor.getLocId.getLatitude|trim is not empty) ) %}
                                <td>{{ sensor.getLocId.getLongitude }} , {{ sensor.getLocId.getLatitude }}</td>
                            {% else %}
                                <td >Not Set</td>
                            {% endif %}
                        </tr>
                    </table>
                </div>


                <div class="container">
                    <div class="row">
                        <a href="{{ path('reportSensorReadings') }}?id={{sensor.getSensorId}}">
                            <span class="glyphicon glyphicon-menu-hamburger"></span> View Readings |
                        </a>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TECH') %}
                        <a href="{{ path('edit_sensor') }}?id={{sensor.getSensorId}}">
                            <span class="glyphicon glyphicon-pencil"></span> Edit Sensor details |
                        </a>
                        <a href="#" onclick="Confirm.render(
                                'Are you sure to remove sensor : {{sensor.getSensorId}} ',
                                'delete_row',
                                '{{ path('remove_sensor') }}?id={{sensor.getSensorId}}')">
                            <span class="glyphicon glyphicon-remove "></span> Remove Sensor
                        </a>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>
    {% else %}
        <div id="errorMsg" align="center">
           Error : sensor not found
       </div>
    {% endif %}





{% endblock %}