{% extends 'AppBundle::base.html.twig' %}
{% block otherstylesheets %}

    <link rel="stylesheet" href="{{ asset('bundles/framework/css/reportBaseStyle.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/reportAreaViewStyle.css') }}"/>
{% endblock %}

{% block body %}
    <div id="headings" align="center">
        <h1>
            {{ areaName }}
        </h1>
    </div>
    {% if (error is defined) %}
        <div id="errorMsg" align="center">
            {{ error }}
        </div>

    {% endif %}

    {% if (noOfLocations is defined) %}
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-6">
                    <div id="areaReadings" align="center">
                        <table>
                            <tr>
                                <td>Air Quality</td>
                                <td> {{ meanAir['airQly'] }} %</td>
                            </tr>
                            <tr>
                                <td>Oxygen content</td>
                                <td> {{ meanAir['O2'] }} %</td>
                            </tr>
                            <tr>
                                <td>Carbon diaoxide content</td>
                                <td> {{ meanAir['CO2'] }} %</td>
                            </tr>
                            <tr>
                                <td>Humidity</td>
                                <td>{{ meanHumidity }} %</td>
                            </tr>
                            <tr>
                                <td>Pressure</td>
                                <td>{{ meanPressure }} KPa</td>
                            </tr>
                            <tr>
                                <td>Temperature</td>
                                <td>{{ meanTemp }} °C</td>
                            </tr>
                            <tr>
                                <td>Wind speed</td>
                                <td>{{ meanWind['speed'] }} m/s</td>
                            </tr>
                            <tr>
                                <td>Wind Direction</td>
                                <td>{{ meanWind['direction'] }} °</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-md-6">
                    <div id="map">
                        <script>
                            var map;
                            function initMap() {
                                map = new google.maps.Map(document.getElementById('map'), {
                                    center: {lat: {{ area_latitude }}, lng: {{ area_longitude }}},
                                    zoom: 12
                                });

                                {% for loc in locations %}
                                var $title = {{ loc.getAddress()|json_encode|raw }};
                                var $long = {{ loc.getLongitude()|json_encode|raw }};
                                var $lati = {{ loc.getLatitude()|json_encode|raw }};
                                var marker = new google.maps.Marker({
                                    position: {lat: parseFloat($lati), lng: parseFloat($long)},
                                    map: map,
                                    title: $title
                                });
                                {% endfor %}
                            }
                        </script>
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtfolL32-vwpZgGcIkYMFA5Ajy2svBwbM&callback=initMap"
                                async defer></script>
                    </div>
                </div>
            </div>
        </div>

        <div id="header">
            <h3>Locations</h3>

        </div>
        <div class="container" id="locationAddressList">
            <ul class="list locUl" id="list">
                {% for loc in locations %}
                    <li class="col-md-5 locLi"><a
                                href="{{ path('reportLocationView', {'viewArea': areaName,'viewLocation': loc.getAddress()}) }}"> {{ loc.getAddress() }} </a>
                    </li>
                {% endfor %}
            </ul>
        </div>


    {% endif %}
    <script>
        (function ($) {
            // custom css expression for a case-insensitive contains()
            /**
             * @return {boolean}
             */
            jQuery.expr[':'].Contains = function (a, i, m) {
                return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
            };


            function listFilter(header, list) { // header is any element, list is an unordered list
                // create and add the filter form to the header
                var form = $("<form>").attr({"class": "filterform", "action": "#"}),
                        input = $("<input>").attr({
                            "class": "filterinput",
                            "type": "text",
                            "placeholder": "Search locations ..."
                        });

                $(form).append(input).appendTo(header);
                $(input)
                        .change(function () {
                            var filter = $(this).val();
                            if (filter) {
                                // this finds all links in a list that contain the input,
                                // and hide the ones not containing the input while showing the ones that do
                                $(list).find("a:not(:Contains(" + filter + "))").parent().slideUp();
                                $(list).find("a:Contains(" + filter + ")").parent().slideDown();
                            } else {
                                $(list).find("li").slideDown();
                            }
                            return false;
                        })
                        .keyup(function () {
                            // fire the above change event after every letter
                            $(this).change();
                        });
            }


            //ondomready
            $(function () {
                listFilter($("#header"), $("#list"));
            });
        }(jQuery));

    </script>
{% endblock %}
