{% extends 'AppBundle::base.html.twig' %}

{% block otherstylesheets %}

    <link rel="stylesheet" href="{{ asset('bundles/framework/css/reportBaseStyle.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/reportFilteredSensorReadingsStyle.css') }}"/>
    <style>

    </style>
{% endblock %}
{% block body %}
    <h1 align="center">
       Sensor Readings
    </h1>
    {% if( airQualityReadings|length==0 and humidityReadings|length==0 and pressureReadings|length==0 and tempReadings|length==0 and windReadings|length==0 ) %}
        <div id="errorMsg" align="center">
            No sensor readings for filter
        </div>
    {% else %}
        <div class="tabs">
            <ul class="tab-links">

                {% if airQualityReadings|length>0 %}
                    <li class="active"><a href="#airTab">Air Quality</a></li>
                {% endif %}

                {% if humidityReadings|length>0 %}

                    {% if airQualityReadings|length==0 %}
                        <li class="active"><a href="#humidityTab">Humidity</a></li>
                    {% else %}
                        <li><a href="#humidityTab">Humidity</a></li>
                    {% endif %}

                {% endif %}

                {% if pressureReadings|length>0 %}
                    {% if airQualityReadings|length==0 and humidityReadings|length==0 %}
                        <li class="active"><a href="#pressureTab">Pressure</a></li>
                    {% else %}
                        <li><a href="#pressureTab">Pressure</a></li>
                    {% endif %}
                {% endif %}

                {% if tempReadings|length>0 %}
                    {% if airQualityReadings|length==0 and humidityReadings|length==0  and pressureReadings|length==0 %}
                        <li class="active"><a href="#temperatureTab">Temperature</a></li>
                    {% else %}
                        <li><a href="#temperatureTab">Temperature</a></li>
                    {% endif %}
                {% endif %}

                {% if windReadings|length>0 %}
                    {% if airQualityReadings|length==0 and humidityReadings|length==0 and pressureReadings|length==0  and tempReadings|length==0 %}
                        <li class="active"><a href="#windTab">Wind</a></li>
                    {% else %}
                        <li><a href="#windTab">Wind</a></li>
                    {% endif %}
                {% endif %}
            </ul>

            <div class="tab-content">
                {% if airQualityReadings|length>0 %}
                    <div id="airTab" class="tab active">
                        <div class="container-fluid">
                            <div class="row ">
                                <div class="component" id="sensorReading" align="center">

                                    <table id="sensorReadingTable" class="table sortable">
                                        <tr class="customHeader">
                                            <th>Sensor Id<span id="sorttable_sortfwdind">&nbsp;▴</span></th>
                                            <th>Date</th>
                                            <th>Time</th>

                                            <th>Air Quality (%)</th>
                                            <th>CO<sub>2</sub> (%)</th>
                                            <th>Oxygen (%)</th>

                                        </tr>
                                        {% for reading in airQualityReadings %}
                                            <tr>
                                                <td>{{ reading.getSensorId() }}</td>
                                                <td>{{ reading.getTimestamp()|date('Y-m-d') }}</td>
                                                <td>{{ reading.getTimestamp()|date('h:i:s a') }}</td>

                                                <td>{{ reading.getAirQtyPercentage() }}</td>
                                                <td>{{ reading.getCo2Percentage() }}</td>
                                                <td>{{ reading.getOxygenPercentage() }}</td>

                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <p>*Please Click the table column header to sort by.</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if humidityReadings|length>0 %}
                    <div id="humidityTab" class="tab snap">
                        <div class="container-fluid">
                            <div class="row ">
                                <div class="component" id="sensorReading" align="center">

                                    <table id="sensorReadingTable" class="table sortable">

                                        <tr class="customHeader">
                                            <th>Sensor Id<span id="sorttable_sortfwdind">&nbsp;▴</span></th>
                                            <th>Date</th>
                                            <th>Time</th>

                                            <th>Humidity (%)</th>
                                        </tr>
                                        {% for reading in humidityReadings %}
                                            <tr>
                                                <td>{{ reading.getSensorId() }}</td>
                                                <td>{{ reading.getTimestamp()|date('Y-m-d') }}</td>
                                                <td>{{ reading.getTimestamp()|date('h:i:s a') }}</td>


                                                <td>{{ reading.getHumidityValue() }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>

                                </div>
                            </div>
                            <div class="row">
                                <p>*Please Click the table column header to sort by.</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if pressureReadings|length>0 %}
                    <div id="pressureTab" class="tab snap">
                        <div class="container-fluid">
                            <div class="row ">
                                <div class="component" id="sensorReading" align="center">

                                    <table id="sensorReadingTable" class="table sortable">

                                        <tr class="customHeader">
                                            <th>Sensor Id<span id="sorttable_sortfwdind">&nbsp;▴</span></th>
                                            <th>Date</th>
                                            <th>Time</th>

                                            <th>Pressure( KPa)</th>

                                        </tr>
                                        {% for reading in pressureReadings %}
                                            <tr>
                                                <td>{{ reading.getSensorId() }}</td>
                                                <td>{{ reading.getTimestamp()|date('Y-m-d') }}</td>
                                                <td>{{ reading.getTimestamp()|date('h:i:s a') }}</td>


                                                <td>{{ reading.getPressureValue() /1000 }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>

                                </div>
                            </div>
                            <div class="row">
                                <p>*Please Click the table column header to sort by.</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if tempReadings|length>0 %}
                    <div id="temperatureTab" class="tab snap">
                        <div class="container-fluid">
                            <div class="row ">
                                <div class="component" id="sensorReading" align="center">

                                    <table id="sensorReadingTable" class="table sortable">
                                        <tr class="customHeader">
                                            <th>Sensor Id<span id="sorttable_sortfwdind">&nbsp;▴</span></th>
                                            <th>Date<span id="sorttable_sortfwdind">&nbsp;▴</span></th>
                                            <th>Time</th>

                                            <th>Temperature( °C)</th>
                                        </tr>
                                        {% for reading in tempReadings %}
                                            <tr>
                                                <td>{{ reading.getSensorId() }}</td>
                                                <td>{{ reading.getTimestamp()|date('Y-m-d') }}</td>
                                                <td>{{ reading.getTimestamp()|date('h:i:s a') }}</td>

                                                <td>{{ reading.getTempValue() }}

                                            </tr>
                                        {% endfor %}
                                    </table>

                                </div>
                            </div>
                            <div class="row">
                                <p>*Please Click the table column header to sort by.</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if windReadings|length>0 %}
                    <div id="windTab" class="tab snap">
                        <div class="row ">
                            <div class="component" id="sensorReading" align="center">
                                <div class="component" id="sensorReading" align="center">

                                    <table id="sensorReadingTable" class="table sortable">
                                        <tr class="customHeader">
                                            <th>Sensor Id<span id="sorttable_sortfwdind">&nbsp;▴</span></th>
                                            <th>Date<span id="sorttable_sortfwdind">&nbsp;▴</span></th>
                                            <th>Time</th>

                                            <th>Speed (m/s)</th>
                                            <th>Direction (°)</th>
                                        </tr>
                                        {% for reading in windReadings %}
                                            <tr>
                                                <td>{{ reading.getSensorId() }}</td>
                                                <td>{{ reading.getTimestamp()|date('Y-m-d') }}</td>
                                                <td>{{ reading.getTimestamp()|date('h:i:s a') }}</td>


                                                <td>{{ reading.getWindSpeed() }}</td>
                                                <td>{{ reading.getDirection() }}</td>

                                            </tr>
                                        {% endfor %}
                                    </table>

                                </div>
                            </div>
                            <div class="row">
                                <p>*Please Click the table column header to sort by.</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <script src="{{ asset('bundles/framework/js/sorttable.js') }}"></script>
            <script>
                jQuery(document).ready(function () {
                    jQuery('.tabs .tab-links a').on('click', function (e) {
                        var currentAttrValue = jQuery(this).attr('href');

                        // Show/Hide Tabs
                        jQuery('.tabs ' + currentAttrValue).slideDown(1500).siblings().slideUp(1500);

                        // Change/remove current tab to active
                        jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

                        e.preventDefault();
                    });
                });

            </script>
        </div>
    {% endif %}
{% endblock %}