{% extends 'AppBundle::base.html.twig' %}
{% block otherstylesheets %}

    <link rel="stylesheet" href="{{ asset('bundles/framework/css/reportBaseStyle.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/reportLocationViewStyle.css') }}"/>
    <style>

    </style>
{% endblock %}

{% block body %}
    <div id="headings" align="center">
        <h1 id="loctionHeading">
            {{ location.getAddress() }}, {{ areaName }}
        </h1>
        <div id="locationCoordinates">
            Latitude: {{ location.getLatitude() }} | Longitude: {{ location.getLongitude() }}
        </div>
    </div>
    {% if sensorDetails[0]['sensor'].getTypeName is not defined %}
        <div id="errorMsg" align="center">
            No sensors installed
        </div>
    {% endif %}

    {% if sensorDetails[0]['sensor'].getTypeName is defined %}
        <div class="tabs">
            <ul class="tab-links">
                <li class="active"><a href="#section0">Summary</a></li>
                <li><a href="#section1">Installed Sensors</a></li>
            </ul>

            <div class="tab-content">

                <div id="section0" class="tab active ">
                    <div class="col-sm-5" id="locationReadings" align="center">
                        <table>
                            <tr>
                                <td>Air Quality</td>
                                <td> {{ meanAir['airQly'] }} %</td>
                            </tr>
                            <tr>
                                <td>Oxygen content</td>
                                <td> {{ meanAir['O2'] }} %</td>
                            </tr>
                            <tr>
                                <td>Carbon dioxide content</td>
                                <td> {{ meanAir['CO2'] }} %</td>
                            </tr>
                            <tr>
                                <td>Humidity</td>
                                <td>{{ meanHumidity }} %</td>
                            </tr>
                            <tr>
                                <td>Pressure</td>
                                <td>{{ meanPressure }} KPa</td>
                            </tr>
                            <tr>
                                <td>Temperature</td>
                                <td>{{ meanTemp }} °C</td>
                            </tr>
                            <tr>
                                <td>Wind speed</td>
                                <td>{{ meanWind['speed'] }} m/s</td>
                            </tr>
                            <tr>
                                <td>Wind Direction</td>
                                <td>{{ meanWind['direction'] }} °</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div id="section1" class="tab">
                    <div id="sensorInformation" align="center">
                        <table id="sensorTable" class="sortable">
                            <thead>
                            <tr title="click to sort by column">
                                <th>Sensor ID<span id="sorttable_sortfwdind">&nbsp;▾</span></th>
                                <th>Type</th>
                                <th>Manufacturer</th>
                                <th>Unit</th>
                                <th>Installed Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sensorDetail in sensorDetails %}
                                <tr>

                                    <td id="sensorIdLink" title="view sensor"><a
                                                href="{{ path('viewSensor') }}?id={{ sensorDetail['sensor'].getSensorId() }}">{{ sensorDetail['sensor'].getSensorId() }}</a>
                                    </td>
                                    <td>{{ sensorDetail['sensor'].getTypeName() }}</td>
                                    <td>{{ sensorDetail['model'].getManufacture() }}</td>
                                    {% if sensorDetail['model'].getUnit()=='percent' %} {#Air qty#}
                                        <td>%</td>
                                    {% elseif sensorDetail['model'].getUnit()=='Pa' %} {#Temp#}
                                        <td>(K)Pa</td>
                                    {% elseif sensorDetail['model'].getUnit()=='°C' %} {#Pressure#}
                                        <td>°C</td>
                                    {% elseif sensorDetail['model'].getUnit()=='m/s' %} {#Wind#}
                                        <td>m/s</td>
                                    {% else %}
                                        <td>{{ sensorDetail['model'].getUnit() }}</td>
                                    {% endif %}
                                    {#<td>{{ sensor.getUnit() }}</td>#}
                                    <td>{{ sensorDetail['sensor'].getInsDate() }}</td>
                                    <td id="sensorReadingLink">
                                        <a href="{{ path('reportSensorReadings') }}?id={{ sensorDetail['sensor'].getSensorId() }}">View
                                            readings
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <script src="{{ asset('bundles/framework/js/sorttable.js') }}"></script>
        <script src="{{ asset('bundles/framework/js/jquery.panelSnap.js') }}"></script>

        <script>
            jQuery(document).ready(function () {
                jQuery('.tabs .tab-links a').on('click', function (e) {
                    var currentAttrValue = jQuery(this).attr('href');

                    // Show/Hide Tabs
                    jQuery('.tabs ' + currentAttrValue).slideDown(1500).siblings().slideUp(1500);

                    // Change/remove current tab to active
                    jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

                    e.preventDefault();
                });
            });

        </script>

    {% endif %}

{% endblock %}