{% extends 'AppBundle::base.html.twig' %}
{% block otherstylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/reportLocationViewStyle.css') }}"/>
    <style>
    </style>
{% endblock %}

{% block body %}
    <div id="headings">
        <h1 id="loctionHeading" align="center">
            {{ location.getAddress() }}, {{ areaName }}
        </h1>
        <div id="locationCoordinates">
            Latitude: {{ location.getLatitude() }} | Longitude: {{ location.getLongitude() }}
        </div>
    </div>

    <div id="section1" class="container-fluid">
        <div>
            <h3 id="installedSensors">
                Installed sensors
            </h3>
        </div>
        <div id="sensorInformation" align="center">
            <table id="sensorTable" class="sortable">
                <thead>
                <tr>
                    <th>Sensor Id</th>
                    <th>Type</th>
                    <th>Manufacturer</th>
                    <th>Unit</th>
                    <th>Insalled Date</th>
                </tr>
                </thead>
                <tbody>
                {% for sensor in sensorDetail %}
                    <tr>

                        <td id="sensorIdLink"><a href="#">{{ sensor.getSensorId() }}</a></td>
                        {% if sensor.getTypeName()=='air_qty' %} {#Air qty#}
                            <td>Air Quality</td>
                        {% elseif sensor.getTypeName()=='temp' %} {#Temp#}
                            <td>Temperature</td>
                        {% elseif sensor.getTypeName()=='pressure' %} {#Pressure#}
                            <td>Pressure</td>
                        {% elseif sensor.getTypeName()=='wind' %} {#Wind#}
                            <td>Wind</td>
                        {% elseif sensor.getTypeName()=='humidity' %} {#Humidity#}
                            <td>Humidity</td>
                        {% endif %}
                        <td>{{ sensor.getManufacturer() }}</td>
                        {% if sensor.getUnit()=='percent' %} {#Air qty#}
                            <td>%</td>
                        {% elseif sensor.getUnit()=='Pa' %} {#Temp#}
                            <td>(K)Pa</td>
                        {% elseif sensor.getUnit()=='°C' %} {#Pressure#}
                            <td>°C</td>
                        {% elseif sensor.getUnit()=='m/s' %} {#Wind#}
                            <td>m/s</td>
                        {% else %}
                            <td>{{ sensor.getUnit() }}</td>
                        {% endif %}
                        {#<td>{{ sensor.getUnit() }}</td>#}
                        <td>{{ sensor.getInsDate() }}</td>
                        <td id="sensorReadingLink"><a
                                                      href="{{ path('reportSensorReadings', {'viewArea': areaName,'viewLocation': location.getAddress(),'sensorId':sensor.getSensorId()}) }}">View
                                Readings</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{{ asset('bundles/framework/js/sorttable.js') }}"></script>

{% endblock %}