{% extends 'AppBundle::base.html.twig' %}
{% block otherstylesheets %}

    <link rel="stylesheet" href="{{ asset('bundles/framework/css/reportBaseStyle.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/reportLocationViewStyle.css') }}"/>
    <style>
    </style>
{% endblock %}

{% block body %}
    <div id="headings" align="center">
        <h1 id="loctionHeading">
            {{ location.getAddress() }}, {{ areaName }}
        </h1>
        <div id="locationCoordinates">
            Latitude: {{ location.getLatitude() }} | Longitude: {{ location.getLongitude() }}
        </div>
    </div>
    {% if sensorDetails[0]['sensor'].getTypeName is defined %}
        <div id="section0" class="container-fluid">
            <div class="col-sm-5" id="locationReadings" align="center">
                <table>
                    <tr>
                        <td>Temperature</td>
                        <td>{{ meanTemp }} °C</td>
                    </tr>
                    <tr>
                        <td>Humidity</td>
                        <td>{{ meanHumidity }} %</td>
                    </tr>
                    <tr>
                        <td>Pressure</td>
                        <td>{{ meanPressure }} KPa</td>
                    </tr>
                    <tr>
                        <td>Wind speed</td>
                        <td>{{ meanWind['speed'] }} m/s</td>
                    </tr>
                    <tr>
                        <td>Wind Direction</td>
                        <td>{{ meanWind['direction'] }} °</td>
                    </tr>
                    <tr>
                        <td>Air Quality</td>
                        <td> {{ meanAir['airQly'] }} %</td>
                    </tr>
                    <tr>
                        <td>Oxygen content</td>
                        <td> {{ meanAir['O2'] }} %</td>
                    </tr>
                    <tr>
                        <td>Carbon diaoxide content</td>
                        <td> {{ meanAir['CO2'] }} %</td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="section1" class="container-fluid">

            <div>
                <h3 id="installedSensors">
                    Installed sensors
                </h3>
            </div>
            <div id="sensorInformation" align="center">
                <table id="sensorTable" class="sortable">
                    <thead>
                    <tr title="click to sort by column">
                        <th>Sensor ID<span id="sorttable_sortfwdind">&nbsp;▾</span></th>
                        <th>Type</th>
                        <th>Manufacturer</th>
                        <th>Unit</th>
                        <th>Insalled Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sensorDetail in sensorDetails %}
                        <tr>

                            <td id="sensorIdLink" title="view sensor"><a
                                        href="{{ path('viewSensor') }}?id={{ sensorDetail['sensor'].getSensorId() }}">{{ sensorDetail['sensor'].getSensorId() }}</a>
                            </td>
                            <td>{{ sensorDetail['sensor'].getTypeName() }}</td>
                            <td>{{ sensorDetail['model'].getManufacture() }}</td>
                            {% if sensorDetail['model'].getUnit()=='percent' %} {#Air qty#}
                                <td>%</td>
                            {% elseif sensorDetail['model'].getUnit()=='Pa' %} {#Temp#}
                                <td>(K)Pa</td>
                            {% elseif sensorDetail['model'].getUnit()=='°C' %} {#Pressure#}
                                <td>°C</td>
                            {% elseif sensorDetail['model'].getUnit()=='m/s' %} {#Wind#}
                                <td>m/s</td>
                            {% else %}
                                <td>{{ sensorDetail['model'].getUnit() }}</td>
                            {% endif %}
                            {#<td>{{ sensor.getUnit() }}</td>#}
                            <td>{{ sensorDetail['sensor'].getInsDate() }}</td>
                            <td id="sensorReadingLink">
                                <a href="{{ path('reportSensorReadings') }}?id={{ sensorDetail['sensor'].getSensorId() }}">View
                                    Readings
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <script src="{{ asset('bundles/framework/js/sorttable.js') }}"></script>
    {% else %}
        <div id="errorMsg" align="center">
            No sensors installed
        </div>
    {% endif %}


{% endblock %}