{% extends 'AppBundle::base.html.twig' %}

{% block otherstylesheets %}

    <link rel="stylesheet" href="{{ asset('bundles/framework/css/reportBaseStyle.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/reportSensorReadingsStyle.css') }}"/>
    <style>

    </style>


{% endblock %}
{% block body %}
    <div id="headings" align="center">
        <h2>
            Sensor : {{ sensor.sensorId }} ({{ sensor.getTypeName() }})
        </h2>
    </div>
    {% if readings[0] is defined %}
        <div class="tabs">
            <ul class="tab-links">
                <li class="active"><a href="#tabular">Tabular</a></li>
                <li><a href="#graphical">Graphical</a></li>
            </ul>

            <div class="tab-content">
                <div id="tabular" class="tab active">

                    <div class="component" id="sensorReading" align="center">
                        <table id="sensorReadingTable" class="sortable">
                            <thead>
                            <tr>
                                <th>Date<span id="sorttable_sortfwdind">&nbsp;▴</span></th>
                                <th>Time</th>

                                {% if readings[0].getAirQtyPercentage is defined %} {#Air qty#}
                                    <th>Air Quality (%)</th>
                                    <th>CO<sub>2</sub> (%)</th>
                                    <th>Oxygen (%)</th>
                                {% elseif readings[0].getTempValue is defined %} {#Temp#}
                                    <th>Temperature( °C)</th>
                                {% elseif readings[0].getPressureValue is defined %} {#Pressure#}
                                    <th>Pressure( KPa)</th>
                                {% elseif readings[0].getWindSpeed is defined %} {#Wind#}
                                    <th>Speed (m/s)</th>
                                    <th>Direction (°)</th>
                                {% elseif readings[0].getHumidityValue is defined %} {#Humidity#}
                                    <th>Humidity (%)</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for reading in readings %}
                                <tr>
                                    <td>{{ reading.getTimestamp()|date('Y-m-d') }}</td>
                                    <td>{{ reading.getTimestamp()|date('h:i:s a') }}</td>
                                    {% if reading.getAirQtyPercentage is defined %} {#Air qty#}
                                        <td>{{ reading.getAirQtyPercentage() }}</td>
                                        <td>{{ reading.getCo2Percentage() }}</td>
                                        <td>{{ reading.getOxygenPercentage() }}</td>
                                    {% elseif reading.getTempValue is defined %} {#Temp#}
                                        <td>{{ reading.getTempValue() }}
                                    {% elseif reading.getPressureValue is defined %} {#Pressure#}
                                        <td>{{ reading.getPressureValue() /1000 }}</td>
                                    {% elseif reading.getWindSpeed is defined %} {#Wind#}
                                        <td>{{ reading.getWindSpeed() }}</td>
                                        <td>{{ reading.getDirection() }}</td>
                                    {% elseif reading.getHumidityValue is defined %} {#Humidity#}
                                        <td>{{ reading.getHumidityValue() }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
                <div id="graphical" class="tab snap">

                    <section id="section1" class="section">
                        <div id="div_chart_generic" align="center" style="position:relative">
                        </div>
                    </section>

                    {% if lineChart_windDir is not null %}
                        <section id="section2" class="section">
                            <div id="div_chart_windDir" align="center">
                            </div>
                        </section>
                    {% endif %}

                    {% if lineChart_airQly is not null %}
                        <section id="section2" class="section">
                            <div id="div_chart_airQly" align="center">
                            </div>
                        </section>
                    {% endif %}

                    {% if lineChart_airCO2 is not null %}
                        <section id="section3" class="section">
                            <div id="div_chart_airCO2" align="center">
                            </div>
                        </section>
                    {% endif %}

                    {% if lineChart_airOxygen is not null %}
                        <section id="section4" class="section">
                            <div id="div_chart_airOxygen" align="center">
                            </div>
                        </section>
                    {% endif %}

                    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
                    <script type="text/javascript">
                        {{ gc_draw(lineChart_generic, 'div_chart_generic') }}
                    </script>
                    {% if lineChart_windDir is not null %}

                        <script type="text/javascript">
                            {{ gc_draw(lineChart_windDir, 'div_chart_windDir') }}
                        </script>

                    {% endif %}

                    {% if lineChart_airQly is not null %}

                        <script type="text/javascript">
                            {{ gc_draw(lineChart_airQly, 'div_chart_airQly') }}
                        </script>

                    {% endif %}

                    {% if lineChart_airCO2 is not null %}

                        <script type="text/javascript">
                            {{ gc_draw(lineChart_airCO2, 'div_chart_airCO2') }}
                        </script>

                    {% endif %}

                    {% if lineChart_airOxygen is not null %}

                        <script type="text/javascript">
                            {{ gc_draw(lineChart_airOxygen, 'div_chart_airOxygen') }}
                        </script>

                    {% endif %}

                </div>
            </div>
            <script src="{{ asset('bundles/framework/js/sorttable.js') }}"></script>
            <script src="{{ asset('bundles/framework/js/jquery.panelSnap.js') }}"></script>

            <script>
                jQuery(document).ready(function () {
                    jQuery('.tabs .tab-links a').on('click', function (e) {
                        var currentAttrValue = jQuery(this).attr('href');

                        // Show/Hide Tabs
                        jQuery('.tabs ' + currentAttrValue).slideDown(1500).siblings().slideUp(1500);

                        // Change/remove current tab to active
                        jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

                        e.preventDefault();
                    });
                });

                //                jQuery(function($) {
                //                    $('.snap').panelSnap();
                //                });

                jQuery(function ($) {
                    var options = {
                        $menu: false,
                        menuSelector: 'a',
                        panelSelector: '> section',
                        namespace: '.panelSnap',
                        onSnapStart: function () {
                        },
                        onSnapFinish: function () {
                        },
                        onActivate: function () {
                        },
                        directionThreshold: 50,
                        slideSpeed: 500,
                        easing: 'linear',
                        offset: 100,
                        navigation: {
                            keys: {
                                nextKey: false,
                                prevKey: false
                            },
                            buttons: {
                                $nextButton: false,
                                $prevButton: false
                            },
                            wrapAround: false
                        }
                    };

                    $('.snap').panelSnap(options);
                });

            </script>
        </div>
    {% else %}
        <div id="errorMsg" align="center">
            No sensor readings for filter
        </div>
    {% endif %}


{% endblock %}