{% extends 'AppBundle::base.html.twig' %}

{% block otherstylesheets %}

    <link rel="stylesheet" href="{{ asset('bundles/framework/css/reportSensorReadingSearcherStyle.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/reportBaseStyle.css') }}"/>
    <style>
    </style>
{% endblock %}

{% block body %}
    <div id="headings" align="center">
        <h2>
            Sensor : {{ sensor.sensorId }} ({{ sensor.getTypeName() }})
        </h2>
        <h3 style="padding: 3px 0px 40px 0px;">Filter sensor readings</h3>
    </div>

    {% if form is defined %}
        {% form_theme form 'AppBundle:Form:bootstrap_3_layout.html.twig' %}
        <div class="container-fluid ">

            <div class="col-sm-4 col-md-offset-4 formContainer">
                {#{{ form_start(form) }}#}
                {#{{ form_widget(form) }}#}
                {#{{ form_end(form) }}#}
                {{ form_start(form) }}

                <strong>No of Readings</strong> {{ form_widget(form.noOfReadings) }}
                <br>
                <strong>Start Date</strong> {{ form_widget(form.startDate.date) }}
                <br>
                <strong>Start time</strong> {{ form_widget(form.startDate.time) }}
                <br>
                <strong>End date</strong>{{ form_widget(form.endDate.date) }}
                <br>
                <strong>End time</strong>{{ form_widget(form.endDate.time) }}
                <br>
                {{ form_end(form) }}
            </div>
        </div>
    {% else %}
        <div id="errorMsg" align="center">
            No sensor readings available
        </div>
    {% endif %}


{% endblock %}

