{% extends 'AppBundle::base.html.twig' %}

{% block otherstylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/reportSensorReadingSearcherStyle.css') }}"/>
    <style>
    </style>
{% endblock %}

{% block body %}
    <div id="headings" align="center">
        <h2>
            Sensor {{ sensor.getSensorId() }}
            (
            {% if sensor.getTypeName()=='air_qty' %} {#Air qty#}
                Air Quality
            {% elseif sensor.getTypeName()=='temp' %} {#Temp#}
                Temperature
            {% elseif sensor.getTypeName()=='pressure' %} {#Pressure#}
                Pressure
            {% elseif sensor.getTypeName()=='wind' %} {#Wind#}
                Wind
            {% elseif sensor.getTypeName()=='humidity' %} {#Humidity#}
                Humidity
            {% endif %}
            )
        </h2>
        <h3 style="padding: 3px 0px 40px 0px;">Filter sensor readings</h3>
    </div>

    {% if form is defined %}
        {% form_theme form 'AppBundle:Form:bootstrap_3_layout.html.twig' %}
        <div class="container-fluid ">

            <div class="col-sm-4 col-md-offset-4 formContainer">
                {#{{ form_start(form) }}#}
                {#{{ form_widget(form) }}#}
                {#{{ form_end(form) }}#}
                {{ form_start(form) }}

                No of Readings {{ form_widget(form.noOfReadings) }}
                <br>
                Start Date {{ form_widget(form.startDate.date) }}
                <br>
                Start time {{ form_widget(form.startDate.time) }}
                <br>
                End date{{ form_widget(form.endDate.date) }}
                <br>
                End time{{ form_widget(form.endDate.time) }}
                <br>
                {{ form_end(form) }}
            </div>
        </div>
    {% else %}
        <div id="errorMsg" align="center">
            No sensor readings available
        </div>
    {% endif %}


{% endblock %}

