{% extends 'AppBundle::base.html.twig' %}

{% block otherstylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/reportSensorReadingsStyle.css') }}"/>
    <style>

    </style>

{% endblock %}
{% block body %}
    <div id="headings">
        <h2 align="center">
            Sensor {{ sensor.sensorId }}
            (
            {% if sensor.getTypeName()=='air_qty' %} {#Air qty#}
                Air Quality
            {% elseif sensor.getTypeName()=='temp' %} {#Temp#}
                Temperature
            {% elseif sensor.getTypeName()=='pressure' %} {#Pressure#}
                Pressure
            {% elseif sensor.getTypeName()=='wind' %} {#Wind#}
                Wind
            {% elseif sensor.getTypeName()=='humidity' %} {#Humidity#}
                Humidity
            {% endif %}
            )
        </h2>
    </div>
    <div class="tabs">
        <ul class="tab-links">
            <li class="active"><a href="#tabular">Tabular</a></li>
            <li><a href="#graphical">Graphical</a></li>
        </ul>

        <div class="tab-content">
            <div id="tabular" class="tab active">
                {% if readings[0] is defined %}
                    <div class="component" id="sensorReading" align="center">
                        <table id="sensorReadingTable" class="sortable">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>

                                {% if readings[0].getAirQtyPercentage is defined %} {#Air qty#}
                                    <th>Air Quality (%)</th>
                                    <th>CO<sub>2</sub> (%)</th>
                                    <th>Oxygen (%)</th>
                                {% elseif readings[0].getTempValue is defined %} {#Temp#}
                                    <th>Temperature( °C)</th>
                                {% elseif readings[0].getPressureValue is defined %} {#Pressure#}
                                    <th>Pressure( KPa)</th>
                                {% elseif readings[0].getWindSpeed is defined %} {#Wind#}
                                    <th>Speed (m/s)</th>
                                    <th>Direction ( degrees)</th>
                                {% elseif readings[0].getHumidityValue is defined %} {#Humidity#}
                                    <th>Humidity (%)</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for reading in readings %}
                                <tr>
                                    <td>{{ reading.getTimestamp()|date('Y-m-d') }}</td>
                                    <td>{{ reading.getTimestamp()|date('h:i:s a') }}</td>
                                    {% if reading.getAirQtyPercentage is defined %} {#Air qty#}
                                        <td>{{ reading.getAirQtyPercentage() }}</td>
                                        <td>{{ reading.getCo2Percentage() }}</td>
                                        <td>{{ reading.getOxygenPercentage() }}</td>
                                    {% elseif reading.getTempValue is defined %} {#Temp#}
                                        <td>{{ reading.getTempValue() }}
                                    {% elseif reading.getPressureValue is defined %} {#Pressure#}
                                        <td>{{ reading.getPressureValue() /1000 }}</td>
                                    {% elseif reading.getWindSpeed is defined %} {#Wind#}
                                        <td>{{ reading.getWindSpeed() }}</td>
                                        <td>{{ reading.getDirection() }}</td>
                                    {% elseif reading.getHumidityValue is defined %} {#Humidity#}
                                        <td>{{ reading.getHumidityValue() }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div id="errorMsg" align="center" >
                        No sensor readings for filter
                    </div>
                {% endif %}

            </div>
            <div id="graphical" class="tab">
                <div id="div_chart" align="center"></div>

                <script type="text/javascript" src="https://www.google.com/jsapi"></script>
                <script type="text/javascript">
                    {{ gc_draw(lineChart, 'div_chart') }}
                </script>
            </div>
        </div>
    </div>

    <script src="{{ asset('bundles/framework/js/sorttable.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('.tabs .tab-links a').on('click', function (e) {
                var currentAttrValue = jQuery(this).attr('href');

                // Show/Hide Tabs
                jQuery('.tabs ' + currentAttrValue).slideDown(400).siblings().slideUp(400);

                // Change/remove current tab to active
                jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

                e.preventDefault();
            });
        });
    </script>

{% endblock %}